<% if (typeof goBackToCyberDocURL == 'string'){ %>
<li data-type="button" data-key="goBackToCyberdoc">
  <a class="grouped-left ep_cyberdoc_integration" data-align="0" href="<%= goBackToCyberDocURL %>" title="Return to CyberDoc" aria-label="Return to CyberDoc">
    <button class="buttonicon buttonicon-home ep_cyberdoc_integration" data-align="0" aria-label="Return to CyberDoc"></button>
  </a>
</li>
<% } %>