<hr/>
<% if (typeof goBackToCyberDocURL == 'string'){ %>
<li><a class="menu-toolbar-icon buttonicon-home" href="<%= goBackToCyberDocURL %>" data-key="goBackToCyberdoc" data-type="button">Return to CyberDoc</a></li>
<% } %>
