[data-color="black"], .color\:black  { color:black; }
[data-color="red"], .color\:red  { color:red; }
[data-color="aqua"], .color\:aqua  { color:aqua; }
[data-color="blue"], .color\:blue  { color:blue; }
[data-color="teal"], .color\:teal  { color:teal; }
[data-color="navy"], .color\:navy  { color:navy; }
[data-color="purple"], .color\:purple  { color:purple; }
[data-color="yellow"], .color\:yellow  { color:yellow; }
[data-color="lime"], .color\:lime  { color:lime; }
[data-color="fuchsia"], .color\:fuchsia  { color:fuchsia; }
[data-color="white"], .color\:white  { color:white; }
[data-color="silver"], .color\:silver  { color:silver; }
[data-color="gray"], .color\:gray  { color:gray; }
[data-color="maroon"], .color\:maroon  { color:maroon; }
[data-color="green"], .color\:green  { color:green; }
[data-color="orange"], .color\:orange  { color:orange; }
[data-color="olive"], .color\:olive  { color:olive; }
