<li data-type="button" data-key="superscript">
  <a title="Superscript" class="grouped-left ep_subscript_and_superscript">
    <button class="buttonicon buttonicon-superscript ep_superscript"></button>
  </a>
</li>

<li data-type="button" data-key="subscript">
  <a title="Subscript" class="grouped-right ep_subscript_and_superscript">
    <button class="buttonicon buttonicon-subscript ep_subscript"></button>
  </a>
</li>