<hr/>
<li><a class="menu-toolbar-icon buttonicon-superscript" href="#" data-key="superscript" data-type="button"
  onClick="$('.buttonicon.buttonicon-superscript').click();">Superscript</a></li>
<li><a class="menu-toolbar-icon buttonicon-subscript" href="#" data-key="subscript" data-type="button"
  onClick="$('.buttonicon.buttonicon-subscript').click();">Subscript</a></li>

