<hr/>
<li><a class="has-submenu" href="#" data-key="text" data-type="button">Text alignment</a>
  <ul class="submenu">
    <li><a class="menu-toolbar-icon buttonicon-align-left" href="#" data-key="alignLeft" data-type="button" onClick="$('.buttonicon.buttonicon-align-left').click();" data-l10n-id="ep_align.toolbar.left.title">Left</a></li>
    <li><a class="menu-toolbar-icon buttonicon-align-center" href="#" data-key="alignCenter" data-type="button" onClick="$('.buttonicon.buttonicon-align-center').click();" data-l10n-id="ep_align.toolbar.center.title">Center</a></li>
    <li><a class="menu-toolbar-icon buttonicon-align-right" href="#" data-key="alignRight" data-type="button" onClick="$('.buttonicon.buttonicon-align-right').click();" data-l10n-id="ep_align.toolbar.right.title">Right</a></li>
    <li><a class="menu-toolbar-icon buttonicon-align-justify" href="#" data-key="alignJustify" data-type="button" onClick="$('.buttonicon.buttonicon-align-justify').click();" data-l10n-id="ep_align.toolbar.justify.title">Justify</a></li>   
  </ul>
</li>