<li data-type="button" data-key="insertHyperlink">
  <a class="grouped-left ep_embedded_hyperlinks2" data-l10n-id="ep_embedded_hyperlinks.editbarButtons.hyperlink"
    title="Hyperlink">
    <button class="buttonicon buttonicon-link ep_insert_hyperlink"></button>
  </a>
</li>