<hr>
<li><a href="#" data-key="align" class="font_color">Font Color</a>
  <ul class="submenu">
    <select class="color-selection">
        <option value="dummy" selected data-l10n-id="ep_highlight_color.color">Color</option>
        <option value="0" data-l10n-id="ep_highlight_color.black">black</option>
        <option value="1" data-l10n-id="ep_highlight_color.red">red</option>
        <option value="2" data-l10n-id="ep_highlight_color.aqua">aqua</option>
        <option value="3" data-l10n-id="ep_highlight_color.blue">blue</option>
        <option value="4" data-l10n-id="ep_highlight_color.teal">teal</option>
        <option value="5" data-l10n-id="ep_highlight_color.navy">navy</option>
        <option value="6" data-l10n-id="ep_highlight_color.purple">purple</option>
        <option value="7" data-l10n-id="ep_highlight_color.yellow">yellow</option>
        <option value="8" data-l10n-id="ep_highlight_color.lime">lime</option>
        <option value="9" data-l10n-id="ep_highlight_color.fuchsia">fuchsia</option>
        <option value="10" data-l10n-id="ep_highlight_color.white">white</option>
        <option value="11" data-l10n-id="ep_highlight_color.silver">silver</option>
        <option value="12" data-l10n-id="ep_highlight_color.gray">gray</option>
        <option value="13" data-l10n-id="ep_highlight_color.maroon">maroon</option>
        <option value="14" data-l10n-id="ep_highlight_color.green">green</option>
        <option value="15" data-l10n-id="ep_highlight_color.orange">orange</option>
        <option value="16" data-l10n-id="ep_highlight_color.black">olive</option>
    </select>
  </ul>
</li>
