<li data-type="button" data-key="print">
  <a class="grouped-left ep_print" data-align="0" title="Print" aria-label="Print" onClick="window.print()">
    <button class="buttonicon buttonicon-print ep_print" data-align="0" aria-label="Print"></button>
  </a>
</li>