<li id="insertEmbedMedia" data-type="button" data-key="insertImage">
  <a title="Insert image" class="grouped-left ep_insert_media">
    <button class="buttonicon buttonicon-picture ep_insert_image"></button>
  </a>
</li>