<li class="addComment" data-type="button" data-key="addComment">
    <a class="grouped-left ep_comments_page" title="Add new comment on selection" data-l10n-id="ep_comments_page.add_comment.title">
      <button class="buttonicon buttonicon-comment-medical ep_add_comment"></button>
    </a>
</li>
