<style>
  .menu-toolbar-icon:before {
    margin-right: 16px;
  }

  .has-submenu:after {
    content: "▶";
    font-size: 9px;
    padding: 5px 0 0 10px;
    float: right;
    opacity: .8;
  }
</style>

<ul class="dropdown-menu">
  <% e.begin_block("dd_dropdownMenu"); %>
    <li>
      <a href="#">File</a>
      <ul>
        <li><a class="has-submenu" href="#" data-key="text" data-type="button">Export as</a>
          <ul class="submenu">
            <li><a class="menu-toolbar-icon buttonicon-file-word" href="#" data-key="exportWord" data-type="button"
                onClick="$('#exportworda').click();">Microsoft Word</a></li>
            <li><a class="menu-toolbar-icon buttonicon-file-alt" href="#" data-key="exportLibreOffice"
                data-type="button" onClick="$('.exportopena').click();">LibreOffice</a></li>
            <li><a class="menu-toolbar-icon buttonicon-file" href="#" data-key="exportTxt"
                data-type="button" onClick="$('.exportplaina').click();">Plain text</a></li>
            <li><a class="menu-toolbar-icon buttonicon-file-pdf" href="#" data-key="exportPDF"
                data-type="button" onClick="$('.exportpdfa').click();">PDF</a></li>
          </ul>
        </li>
        <hr />
        <li>
          <% e.begin_block("dd_file"); %>
        <li onclick="document.location = document.location.pathname+ '/timeslider'"><a
            class="menu-toolbar-icon buttonicon-history" data-l10n-id="pad.toolbar.timeslider.title" href="#"
            id="timesliderlink">Document history</a></li>
        <hr />
        <li><a class="menu-toolbar-icon buttonicon-settings" href="#" id="filemenutoolbarsettings" data-key="settings"
            data-type="button" data-l10n-id="pad.settings.padSettings">Settings</a></li>
        <% e.end_block(); %>
    </li>
</ul>
</li>
<li class="acl-write">
  <a href="#" data-l10n-id="">Edit</a>
  <ul>
    <li>
      <% e.begin_block("dd_edit"); %>
    <li><a class="menu-toolbar-icon buttonicon-undo" href="#" data-key="undo" data-l10n-id="pad.toolbar.undo.title"
        onClick="$('.buttonicon.buttonicon-undo').click();">Undo</a></li>
    <li><a class="menu-toolbar-icon buttonicon-redo" href="#" data-key="redo" data-l10n-id="pad.toolbar.redo.title"
        onClick="$('.buttonicon.buttonicon-redo').click();">Redo</a></li>
    <% e.end_block(); %>
</li>
</ul>
<li>
<li class="acl-write">
  <a href="#">Format</a>
  <ul>
    <li>
      <% e.begin_block("dd_format"); %>
    <li><a class="has-submenu" href="#" data-key="text" data-type="button">Text style</a>
      <ul class="submenu">
        <li><a class="menu-toolbar-icon buttonicon-bold" href="#" data-key="bold" data-type="button"
            onClick="$('.buttonicon.buttonicon-bold').click();"><u>B</u>old</a></li>
        <li><a class="menu-toolbar-icon buttonicon-italic" href="#" data-key="italic" data-type="button"
            onClick="$('.buttonicon.buttonicon-italic').click();"><u>I</u>talic</a></li>
        <li><a class="menu-toolbar-icon buttonicon-underline" href="#" data-key="underline" data-type="button"
            onClick="$('.buttonicon.buttonicon-underline').click();"><u>U</u>nderline</a></li>
        <li><a class="menu-toolbar-icon buttonicon-strikethrough" href="#" data-key="strikethrough" data-type="button"
            onClick="$('.buttonicon.buttonicon-strikethrough').click();"
            data-l10n-id="pad.toolbar.strikethrough.title">Strikethrough</a></li>
      </ul>
    </li>
    <hr />
    <li><a class="menu-toolbar-icon buttonicon-insertorderedlist" href="#" data-l10n-id="pad.toolbar.ol.title"
        data-key="insertorderedlist" data-type="button"
        onClick="$('.buttonicon.buttonicon-insertorderedlist').click();">Ordered List</a></li>
    <li><a class="menu-toolbar-icon buttonicon-insertunorderedlist" href="#" data-l10n-id="pad.toolbar.ul.title"
        data-key="insertunorderedlist" data-type="button"
        onClick="$('.buttonicon.buttonicon-insertunorderedlist').click();">Unordered list</a></li>
    <hr />
    <li><a class="menu-toolbar-icon buttonicon-indent" href="#" data-l10n-id="pad.toolbar.indent.title"
        data-key="indent" data-type="button" onClick="$('.buttonicon.buttonicon-indent').click();">Increase indent</a>
    </li>
    <li><a class="menu-toolbar-icon buttonicon-outdent" href="#" data-l10n-id="pad.toolbar.unindent.title"
        data-key="outdent" data-type="button" onClick="$('.buttonicon.buttonicon-outdent').click();">Decrease indent</a>
    </li>
    <% e.end_block(); %>

</li>
</ul>
</li>


<li class="acl-write">
  <a href="#">Insert</a>
  <ul>
    <li>
      <% e.begin_block("dd_insert"); %>
        <% e.end_block(); %>
    </li>
  </ul>
</li>


<li>
  <a href="#">View</a>
  <ul>
    <li>
      <% e.begin_block("dd_view"); %>
        <% e.end_block(); %>
    </li>
  </ul>

</li>
<li>
  <a href="#">Help</a>
  <ul>
    <li>
      <% e.begin_block("dd_help"); %>
        <% e.end_block(); %>
    </li>
  </ul>

</li>
<% e.end_block(); %>
  </ul>

  <style type="text/css">
    .dropdown-menu-sub-indicator>ul {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 0px 0px 6px 6px;
      box-shadow: 0px 2px 4px rgb(221, 221, 221);
      background: linear-gradient(rgb(247, 247, 247), rgb(238, 238, 238)) repeat scroll 0% 0% transparent;
      padding: 10px;
    }

    .submenu {
      margin: 0px 0px 10px 0px;
      padding: 10px !important;
      border-radius: 0px 6px 6px 0px !important;
    }

    .dropdown-menu-sub-indicator>ul>hr {
      margin: 10px 0px 10px 0px;
    }

    @media all and (max-width: 400px) {
      .dropdown-menu {
        display: none;
      }

      #editorcontainerbox {
        top: 0;
      }
    }
  </style>

  <script src="../static/js/jquery.js"></script>