[data-highlight-color="black"], .highlight-color\:black  { background-color:black; }
[data-highlight-color="red"], .highlight-color\:red  { background-color:red; }
[data-highlight-color="aqua"], .highlight-color\:aqua  { background-color:aqua; }
[data-highlight-color="blue"], .highlight-color\:blue  { background-color:blue; }
[data-highlight-color="teal"], .highlight-color\:teal  { background-color:teal; }
[data-highlight-color="navy"], .highlight-color\:navy  { background-color:navy; }
[data-highlight-color="purple"], .highlight-color\:purple  { background-color:purple; }
[data-highlight-color="yellow"], .highlight-color\:yellow  { background-color:yellow; }
[data-highlight-color="lime"], .highlight-color\:lime  { background-color:lime; }
[data-highlight-color="fuchsia"], .highlight-color\:fuchsia  { background-color:fuchsia; }
[data-highlight-color="white"], .highlight-color\:white  { background-color:white; }
[data-highlight-color="silver"], .highlight-color\:silver  { background-color:silver; }
[data-highlight-color="gray"], .highlight-color\:gray  { background-color:gray; }
[data-highlight-color="maroon"], .highlight-color\:maroon  { background-color:maroon; }
[data-highlight-color="green"], .highlight-color\:green  { background-color:green; }
[data-highlight-color="orange"], .highlight-color\:orange  { background-color:orange; }
[data-highlight-color="olive"], .highlight-color\:olive  { background-color:olive; }
